:root {
  --base-color: #e8edf2;
  --base-variant: #547a95;
  --text-color: #2c3947;
  --secondary-color: #232738;
  --primary-color: #3a435d;
  --accent-color: #c2a56d;
}

.darkmode {
  --base-color: #070b1d;
  --base-variant: #2869ab;
  --text-color: #c2a56d;
  --secondary-color: #a4a5b8;
  --primary-color: #3a435d;
  --accent-color: #303030;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
/* this is the theme switch button */
#theme-switch {
  height: 60px;
  width: 60px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#theme-switch svg {
  fill: var(--text-color);
}
#theme-switch svg:last-child {
  display: none;
}
.darkmode #theme-switch svg:first-child {
  display: none;
}
.darkmode #theme-switch svg:last-child {
  display: block;
}

/* for gallery.php cards */

.card {
  display: inline-block;
  width: 350px;
  height: 350px;
  background-color: var(--base-variant);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px 10px;
  overflow: hidden;
}
.card-link {
  margin: 15px;
  background-color: var(--base-variant);
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.card-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  display: block;
}
/* place details */

.detail-card {
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
  background-color: var(--base-variant);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding-bottom: 20px;
}

.cover-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

.detail-card h2,
.detail-card h3,
.detail-card p {
  margin: 15px 20px;
}

.detail-card ul {
  margin: 10px 40px;
}

.gallery {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.gallery-img {
  width: 33%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

/* Grid layout for home header */
/*! need fix  */
.parent {
  display: grid;
  grid-template-columns: 2fr 4fr repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}
.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 1 / 4 / 2 / 5;
}
.div5 {
  grid-area: 1 / 5 / 2 / 6;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: var(--secondary-color);
  color: var(--base-color);
  border: none;
  padding: 20px 20px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}
table button {
  height: 50px;
  width: 80px;
}
.delete-btn {
  background-color: #ff3333;
}
.edit-btn {
  background-color: #3467ff;
}

/* Tables */
table {
  width: 100%;
  border-collapse: separate;
  direction: rtl;
}

th,
td {
  vertical-align: middle;
  border: 5px solid #ccc;
  text-align: center;
}

/* footer */
footer {
  background-color: var(--base-variant);
  color: var(--base-color);
  text-align: center;
  padding: 20px;
}

/* header */
header {
  background-color: var(--accent-color);
}
/* on delete message */
.success-message {
  background-color: #d4edda;
  padding: 10px;
  border-radius: 6px;
  margin: 10px 0;
}

.error-message {
  background-color: #f8d7da;
  padding: 10px;
  border-radius: 6px;
  margin: 10px 0;
}
